hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: blue; 
    height:2px;border-width:0;color:gray;background-color:gray;
} 

img {
   width: 35%;
    /* height: 300px; */
}

.big-picture {
    width: 700px;
}